<section id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resume</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row resume-row">
      <div class="col-lg-4">
        <h3>Skills</h3>
      </div>
      <div class="col-lg-8">
        <p>
          <b>Languages</b>
          <span class="right">JavaScript, TypeScript, Java, C</span>
        </p>
        <p>
          <b>Tools/Frameworks</b>
          <span class="right">Node.js, Angular, MySQL, GWT, Git, SVN </span>
        </p>
      </div>
    </div>

    <div class="row resume-row">
      <div class="col-lg-4">
        <h3>work experience</h3>
      </div>
      <div class="col-lg-8">
        <div class="row resume-row">
          <h4 class="resume-subheader">Full-stack developer</h4>
          <div style="font-size: 20px">
            <p >WelTel Incorporated (co-op)</p>
            <i>May - Aug 2018</i>
            <ul>
              <li> Improved stability of the web-application platform in delivering text messages to patients using Node.js </li>
              <li> Developed a new feature allowing patients to choose different messaging frequencies for receiving checkups both in the backend and frontend using Node.js and Angular </li>
              <li> Created data migration scrips to update old data base structures to the newest data base structure </li>
            </ul>
          </div>
        </div>
        <div class="row resume-row">
          <h4 class="resume-subheader">Junior Developer (co-op)</h4>
          <div style="font-size: 20px">
            <p >Jostle Corporation (co-op)</p>
            <i>Sep - Dec 2017</i>
            <ul>
              <li> Developed a process to automate the creation of a component that required parsing of a RSS feed and the use of Java, Maven, and the GWT web toolkit </li>
              <li> Established good technical communication skills through the participation of daily scrums and technical documentation </li>
              <li> Fixed bugs posted on JIRA using Java and CSS </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h3>technical projects</h3>
      </div>
      <div class="col-lg-8">
        <div class="row resume-row">
          <p class="resume-subheader">insightUBC (Academic)</p>
          <div style="font-size: 20px">
            <i>Jan - Apr 2018</i>
            <ul>
              <li> Completed the functionality of a full stack web application that enables effective querying of real metadata about UBC courses and rooms using TypeScript and Node for the back-end, and JavaScript for the front-end </li>
            </ul>
          </div>
        </div>

        <div class="row resume-row">
          <p class="resume-subheader">2D Block Breaker Game (Personal)</p>
          <div style="font-size: 20px">
            <i>Apr - July 2017</i>
            <ul>
              <li> Developed a single-player PC game from scratch using C# in Unity and employing the observer design pattern </li>
            </ul>
          </div>
        </div>

        <!-- <div class="row resume-row">
        <p class="resume-subheader">2D Block Breaker Game (Personal)</p>
        <div style="font-size: 20px">
        <i>Apr - July 2017</i>
        <ul>
        <li> Developed a single-player PC game from scratch using C# in Unity and employing the observer design pattern </li>
      </ul>
    </div>
  </div>  -->

</div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3>extracurricular activities</h3>
  </div>

  <div class="col-lg-8">
    <div class="row resume-row">
      <p class="resume-subheader">nwHacks</p>
      <div style="font-size: 20px">
        <i>Jan 2018</i>
        <ul>
          <li> Created a progressive web application within 24 hours that provides real-time feedback of your performance during presentations </li>
          <li> Front-end was built with React, JavaScript, CSS/HTML. StdLib was used to provide multiple functional endpoints communication with the back-end. Data was managed using Amazon DynamoDB </li>
        </ul>
      </div>
    </div>

    <div class="row resume-row">
      <p class="resume-subheader">AxiomZen & BCS Hackathon</p>
      <div style="font-size: 20px">
        <i>Mar 2017</i>
        <ul>
          <li> Developed a web application within 10 hours that aimed at helping people experiencing negative emotions with raising their spirits </li>
          <li> Implemented the logic using JavaScript, HTML, and CSS that displayed a series of videos, music, pictures, and text </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h3>community involvement</h3>
    </div>
    <div class="col-lg-8">
      <div class="row resume-row">
        <p class="resume-subheader">Graphic Designer</p>
        <div style="font-size: 20px">
          <i>Dec 2016 - Mar 2017</i>
          <ul>
            <li> Designed a logo using Adobe Illustrator and Photoshop to be used for the 2018 C. elegans SPASM meeting </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h3>education</h3>
    </div>
    <div class="col-lg-8">
      <div class="row resume-row">
        <p class="resume-subheader">Bachelor of Computer Science</p>

        <div style="font-size: 20px">
          <p>
            University of British Columbia - <span> <i>Expected Graduation: 2019</i> </span>
          </p>
        </div>
      </div>

      <div class="row resume-row">
        <p class="resume-subheader">Bachelor of Science - Major in Biochemistry</p>

        <div style="font-size: 20px">
          <p>
            University of British Columbia -  <span> <i>Class of 2016</i> </span>
          </p>

          <ul>
            <li> NSERC Student Research Award </li>
            <li> GSA Undergraduate Travel Award </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
  </div>
</section>
